@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

body {
    margin: 0;
    color: #272D2D;
    font-family: 'Proza Libre', sans-serif;
    background-color: #edf5fc;
}



.headerContainer {
    width: 100%;
    background-color: #a39ba8;
    padding: 30px 30px 30px 40px;
}

h1 {
    font-family: 'Kanit', sans-serif;
    color: #272D2D;
    font-size: 35pt;
    margin: 0;
}

h2 {
    font-family: 'Martel', serif;
    font-size: 16pt;
}

button {
     background-color: #b8c5d6;
     font-family: 'Martel', serif;
     font-size: 12pt;
     padding: 6px 12px;
     border: none;
     border-radius: 5px;
     box-shadow: 2px 2px #888888;
     min-width: 100px;
}

table {
    margin-bottom: 10px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #a39ba8;
    padding: 3px 6px 2px 6px;
    min-width: 1.5em;
}